
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
*{
    margin: 0;
}
html{
    font-size: 62.5%;
    font-family: "Black Ops One", system-ui;
}
@mixin reuse-border{
    border: 1px solid;
}
@mixin flex-cc{
    display: flex;
    align-items: center;
    justify-content: center;
}
$pit-violet:rgba(57, 45, 189, 0.708);
$pit-black:rgb(30, 30, 47);
#root{
    @include reuse-border;
    height: 99.8vh;
    @include flex-cc;
    background-color: black;
}

.clock-container{
    @include reuse-border;
    border: 1px solid white;
    width: min(400px,94vw);
    height: 70vh;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: rgb(0, 0, 0);
    .h3-wrapper{
        @include flex-cc;
        background-color: $pit-violet;
        margin-bottom: 1rem;
        height: 13%;
        border-radius: 0.5rem;
    }
    h3{
        text-align: center;
        font-size: 2.6rem;
        background-color: $pit-black;
        outline: 2px solid white;
        color: ghostwhite;
        width: 60%;
        margin:5px auto;
        border-radius: 0.5rem;
    }
    .lengths-wrapper{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: $pit-violet;
        height: 30%;
        border-radius: 0.5rem;
    }
    .session-wrapper{
        @include flex-cc;
        height: 40%;
        
        .sess{
            width: 100%;
            height: 80%;
            text-align: center;
            @include flex-cc;
            flex-direction: column;
            background-color: $pit-violet;
            padding: 10px;
            color: ghostwhite;
            border-radius: 0.5rem;
            position: relative;

            .expand-btn{
                position: absolute;
                top: 0;
                right: 0;
                @include flex-cc;
                background-color: $pit-black;
                border-left: 1px solid white;
                border-bottom: 1px solid white;
                border-radius: 2px;
                z-index: 5;
                i{
                    color: ghostwhite;
                }
            }
        }
    }
    .controls-wrapper{
        @include flex-cc;
        height: 16%;
        
        .ctrls{
            @include reuse-border;
            width: 100%;
            @include flex-cc;
            gap: 2rem;
            height: 100%;
            border-radius: 0.5rem;
            background-color: $pit-violet;
            button{
                height: 60%;
                width: 20%;
                background-color: $pit-black;
                color: ghostwhite;
                outline: 2px solid white;
                border-radius: 0.5rem;
            }
        }
    }
}
.break-container{
    width: 40%;
    display: flex;
    flex-direction: column;
    background-color: $pit-black;
    color: ghostwhite;
    outline:  2px solid white;
    border-radius: 0.5rem;
    label{
        text-align: center;
        font-size: 2.5rem;
    }
    .brk-btn-wrapper{
        @include flex-cc;
        font-size: 2.5rem;
        gap: 1rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
        
        button{
            background-color: $pit-black;
            color: ghostwhite;
            border-radius: 0.5rem;
            outline: 2px solid white;
            @include flex-cc;
        }
    }
}

.timer-label{
    font-size: 3rem;
    margin-top: -1.5rem;
    margin-bottom: 1rem;
}
.time-left{
    @include reuse-border;
    width: 80%;
    font-size: 7.5rem;
    background-color: $pit-black;
    padding: 5px;
    outline:3px solid white;
    position: relative;
    border-radius: 0.5rem;
    div{
        background-color: ghostwhite;
        width: 80%;
        height: 4.5%;
        position: absolute;
        bottom: -0.65rem;
        left: 2.8rem;
        border-radius: 0.1rem;
    }
}
button{
    outline: none;
    border: none;
    transition: .2s ease;
    &:hover,&:focus{
        filter:invert(100%);
    }
}
i{
    font-size: 2rem;
    transform: .25s ease;
    &:active{
        scale: 0.8;
    }
}

.select-audio-container{
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: rgb(35, 35, 51);
    transition: .4s linear;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: -1.6px 0px 3px rgb(80, 80, 80);

    .select-audio-div{
        height: 86%;
        width: 99%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;

        .audio-wrapper{
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 50%;

            button{
                @include flex-cc;
                outline: 2px solid black;
                box-shadow: 2.5px 2.5px 2px white;
            }

            p{
                font-size: 1.2rem;
                text-shadow: 2px 2px 2px black;
            }
        }
    }
}
.light{
    outline: 1px solid white;
    border: 0.4px solid black;
    width: 5%;
    height: 45%;
    border-radius: 50%;
    margin-left: -5%;
    box-shadow: 1px 2.1px 3px black,inset 1px 1px 5px rgb(76, 77, 76),inset -1px -1px 1px black;
    position: relative;
    filter: brightness(150%);
}

.power-div{
    position: relative;
    display: inline-block;
    width: 25%;
    height: 80%;
    border-radius: 1rem;
    box-shadow: 0px -3px 3px  rgb(30, 27, 27),0.8px 0.8px 2px rgb(207, 197, 197),-1px 0px 1px rgb(207, 197, 197),inset -1px -1px 0.4px rgb(0, 0, 0);

    input{
        opacity: 0;
        width: 0;
        height: 0;
        outline: none;
        
    }
    .slider{
        position: absolute;
        cursor: pointer;
        outline: none;
        -webkit-tap-highlight-color: transparent;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background:linear-gradient(180deg,#0002,#fff0);
        transition: .25s ease;
        border-radius: 1rem;
        &::before{
            position: absolute;
            content: '';
            height: 85%;
            width: 35%;
            top: 1.3px;
            transition: .25s ease;
            left: 1px;
            background:radial-gradient(rgb(169, 191, 218) 60%,#becfcd 70%);
            box-shadow: 1px 1px 5px rgb(252, 21, 21),-1px -1px 5px 0.5px black;
            border-radius: 50%;
        }
    }
    input:checked + .slider{
        background-color: linear-gradient(180deg,#0002,#fff0);;
    }
    input:checked + .slider:before{
        transform: translateX(175%);
    }

}

@media screen and (max-width:345px){
    .clock-container{
        scale: 0.9;
    }
    .audio-wrapper{
        height: 16%;
        width: 60%;
        gap: 9%;
    }
    .light{
        height: 35%;
    }
    .power-div{
        .slider{
            input{
                outline: none;
            }
            &::before{
                top: 15%;
                height: 75%;
            }
        }
        input:checked +.slider{
            transform: translateX(-3%);
        }
    }
}
@media screen and (max-width:330px){
    h3{
        font-weight: 100;
        scale: 0.9;
    }
    .break-container{
        scale: 0.9;

        label{
        font-weight: 100;
        }
        .brk-btn-wrapper{
            font-size: 2.2rem;
            gap: 0.8rem;
            button{
                scale: 0.9;
            }
        }
    }
    .timer-label{
        font-size: 2.5rem;
    }
    .time-left{
        scale: 0.9;
        font-size: 6.5rem;
        div{
            width: 70%;
            left: 3.5rem;
            height: 4%;
            bottom: -0.65rem;
        }
    }
    .ctrls{
        button{
            scale: 0.9;
        }
    }
    i{
        font-size: 1.7rem;
    }
    .audio-wrapper{
        .light{
            height: 35%;
        }
        .slider{
            &::before{
                height: 70%;
            }
        }
    }
}
@media screen and (max-width:312px){
    h3{
        font-weight: 100;
        scale: 0.7;
    }
    .audio-wrapper{
        .light{
            height: 30%;
        }
        .slider{
            &::before{
                height: 68%;
                top: 20%;
            }
        }
    }
}
@media screen and (max-width:301px){
    h3{
        font-weight: 100;
        scale: 0.65;
    }
    .break-container{
        scale: 0.8;

        label{
        font-weight: 100;
        }
        .brk-btn-wrapper{
            font-size: 2rem;
            gap: 0.6rem;
            button{
                scale: 0.8;
            }
        }
    }
    .timer-label{
        font-size: 2.1rem;
    }
    .time-left{
        scale: 0.8;
        font-size: 6.1rem;
        div{
            width: 65%;
            left: 3.5rem;
            height: 3%;
            bottom: -0.62rem;
        }
    }
    .ctrls{
        button{
            scale: 0.8;
        }
    }
    i{
        font-size: 2rem;
    }
    .audio-wrapper{
        .light{
            height: 28%;
        }
        .slider{
            &::before{
                height: 60%;
                top: 25%;
            }
        }
    }
}
@media screen and (max-height:600px){
    h3{
        font-weight: 100;
        scale: 0.8;
    }
    .break-container{
        scale: 0.8;

        label{
        font-weight: 100;
        }
        .brk-btn-wrapper{
            font-size: 2rem;
            gap: 0.7rem;
            button{
                scale: 0.8;
            }
        }
    }
    .timer-label{
        font-size: 2.1rem;
    }
    .time-left{
        scale: 0.8;
        font-size: 6.1rem;
        div{
            width: 70%;
            left: 3.5rem;
            height: 4%;
            bottom: -0.65rem;
        }
    }
    .ctrls{
        button{
            scale: 0.8;
        }
    }
    i{
        font-size: 1.8rem;
    }
}
@media screen and (max-height:530px){
    h3{
        font-weight: 100;
        scale: 0.65;
    }
    .clock-container{
        gap: 0.05rem;
    }
    .break-container{
        scale: 0.7;

        label{
        font-weight: 100;
        }
        .brk-btn-wrapper{
            font-size: 1.7rem;
            gap: 0.6rem;
            button{
                scale: 0.8;
            }
        }
    }
    .timer-label{
        margin-top: 3px;
        font-size: 1.8rem;
    }
    .time-left{
        scale: 0.7;
        font-size: 5.8rem;
        div{
            width: 70%;
            left: 3.5rem;
            height: 4%;
            bottom: -0.65rem;
        }
    }
    .ctrls{
        button{
            scale: 0.7;
        }
    }
    i{
        font-size: 1.8rem;
    }
}
@media screen and (max-height:440px){
    h3{
        font-weight: 100;
        scale: 0.58;
    }
    .clock-container{
        gap: 0.15rem;
    }
    .break-container{
        scale: 0.6;

        label{
        font-weight: 100;
        }
        .brk-btn-wrapper{
            font-size: 1.6rem;
            gap: 0.5rem;
            button{
                scale: 0.7;
            }
        }
    }
    .timer-label{
        margin-top: 5px;
        font-size: 1.5rem;
        margin-bottom: -0.5rem;
    }
    .time-left{
        scale: 0.6;
        font-size: 5.5rem;
        div{
            width: 70%;
            left: 3.5rem;
            height: 4%;
            bottom: -0.65rem;
        }
    }
    .ctrls{
        button{
            scale: 0.6;
        }
    }
    i{
        font-size: 1.5rem;
    }
}
@media screen and (max-height:365px){
    h3{
        font-weight: 100;
        scale: 0.5;
    }
    .break-container{
        scale: 0.5;

        label{
        font-weight: 100;
        }
        .brk-btn-wrapper{
            font-size: 1.4rem;
            gap: 0.4rem;
            button{
                scale: 0.65;
            }
        }
    }
    .timer-label{
        margin-top: 5px;
        font-size: 1.3rem;
        margin-bottom: -0.5rem;
    }
    .time-left{
        scale: 0.5;
        font-size: 5.1rem;
        div{
            width: 70%;
            left: 3.5rem;
            height: 4%;
            bottom: -0.65rem;
        }
    }
    .ctrls{
        button{
            scale: 0.5;
        }
    }
    i{
        font-size: 1.2rem;
    }
}